<form action="/chat" method="post">
  <div class="box-questions">
    <div class="header">
      <p>CHAT-BOT</p>
    </div>
    <div class="footer">
      <input
        type="text"
        class="message"
        id="message"
        name="message"
        placeholder="Pergunte aqui..."
      />
      <button class="btn-submit" id="btn-submit">Enviar</button>
    </div>
  </div>
</form>

<div id="chat-responses"></div>

<script src="../public/js/fieldMessage.js"></script>